<!DOCTYPE html>
<html>
<head>
  <title>Candidate app</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.validate.js" %>


  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">ABC Tech</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Load candidate", root_path %></li>
            <li><%= link_to "New candidate", candidates_new_path %></li>
            <li><%= link_to "Upload picture", candidates_upload_picture_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>

